.logo {
  top: 25px;
  left: 25px;
  font-family: raleway, sans-serif;
  font-style: regular;
  font-weight: 500;
  font-size: 35px;
}

.nav-links {
  top: 25px;
  right:25px;
  font-family: raleway, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 35px;
}

#project-container {
  width: 100%;
}

.project {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.project-image {
  display: block;
  border-radius: 10px;
  width: 100%;
  transition: .3s ease;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.overlay {
  position: absolute;
  display: inline;
  padding-top: 20px;
  top: 0;
  /*bottom: 0;*/
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
}

.project:hover .overlay {
  opacity: 1;
}
.project:hover .project-image {
  opacity: 0;
}

.overlay-body {

}

.project-header {
  padding-top: 5vh;
  font-family: raleway, sans-serif;
  font-style: regular;
  font-weight: 500;
  color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2.4vw;
}

.project-body {
  font-family: raleway, sans-serif;
  font-style: regular;
  font-weight: 400;
  color: #939393;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1.5vw;
}
